.starto {
  display: flex;

  justify-content: center;
  background-color: black;
  width: 100%;
}
.name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
label {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
input,
select {
  height: 30px;
  border-radius: 50px;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin: 0.5rem; */
  background-color: white;
  padding: 36px;
  border-radius: 50px;
  width: 65%;
  height: 600px;
}
.add-btn {
  padding: 10px;
  margin: 2px;
}
.players-box {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  padding: 10px;
  align-items: flex-start;
  text-align: center;
  border-radius: 50px;
}
.player {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}
.error-text {
  text-align: center;
  margin: 0.5rem;
  color: red;
}
/* @media (min-width: 600px) {
  .form-box {
    width: 70%;
  }
} */
